@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
nav {    
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.container-menu{
    width:90vw;
}
.menu ul{
    display: flex;
    list-style: none;
    float: right;
}
.logo{
    padding-top: 20px;
    float: left;
}
.menu ul li{
    padding: 5px;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: small;
    font-weight: 700;
    
}
.capaTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/CapaPaginaInicial.jpg);  margin:0;
	background-size:cover;
}

.capaTitulo h4{
    opacity: 100%;
    background-color: rgba(240, 248, 255, 0.45);
}
.capaTitulo h1{
    font-size: 65px;
    margin: 0;
    background-color: rgba(240, 248, 255, 0.45);
}
.container{
    padding:60px 10% 60px 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bg-laranja{
    background-color:rgb(255, 197, 125);
}
.aulas, .galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.quadro1, .quadro2, .quadro3{
    width: 30%;
    text-align: center;
    align-items: center;
    padding: 0 2% 0 2%;
  
}
.quadro1 img, .quadro2 img, .quadro3 img{
    width: 100%;
    object-fit: cover;
}

.weight-300{
    font-weight: 300;
}
.weight-100{
    font-weight: 100;
}
.imgObjetivo img{
    width: 80%;
    object-fit: cover;
}
h2{
    font-size: 24pt;
}
h4{
    font-size: 12pt;
}
.btInscreva{
    background-color: aliceblue;
    width: 40%;
    border: 0;
    border-radius:5px;
    height: 30px;
}